Flask
Flask-SocketIO
python-socketio
python-engineio
requests
pydub
deep-translator
langdetect
Pillow
openai
azure-cognitiveservices-speech
azure-cognitiveservices-vision-computervision
msrest
eventlet
azure-identity