Flask
Flask-SocketIO
eventlet
azure-cognitiveservices-speech
azure-cognitiveservices-vision-computervision
azure-identity
msrest
openai
pydub
Pillow
deep-translator
langdetect
requests
python-engineio
python-socketio
gunicorn
ffmpeg